<div class="row justify-content-center">
  <div class="col-md-6">

    <!-- Question 1: What is the size of your most frequently used TV?-->
    <div class="row">
      <fieldset class="form-group">
        <label>Choose the size of your most frequently used TV?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="26 inch" [(ngModel)]="screenSize"> Below 26 inch
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="32 inch" [(ngModel)]="screenSize"> 27~32 inch
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="42 inch" [(ngModel)]="screenSize"> 33~42 inch
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="47 inch" [(ngModel)]="screenSize"> 43~47 inch
            </label>
        </div>
        <div class="radio">
          <label>
              <input type="radio" name="question1" value="55 inch" [(ngModel)]="screenSize"> 48~55 inch
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="60 inch" [(ngModel)]="screenSize"> above 56 inch
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 2 What is the energy rating of the TV? -->
    <div class="row">
      <fieldset class="form-group">
        <label>What is the energy rating of the TV?</label>
        <div class="radio">
          <label>
            <input type="radio" name="question2" value="2" [(ngModel)]="starRating"> 1~2 stars
        </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="question2" value="4" [(ngModel)]="starRating"> 3~4 stars
        </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="question2" value="6" [(ngModel)]="starRating"> 5~6 stars
        </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 3 How long do you spend on watching TV per day? -->
    <div class="row">
      <fieldset class="form-group">
        <label>How long do you spend on watching TV per day?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="2 hours" [(ngModel)]="usingTime"> Within 2 hours
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="4 hours" [(ngModel)]="usingTime"> Around 4 hours
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="8 hours" [(ngModel)]="usingTime"> 8 hours or more
            </label>
        </div>
      </fieldset>
    </div>

    <div class="row">
      <button class="btn btn-primary" (click)="submit()" [routerLink]="['/home']" [routerLinkActive]="['router-link-active']">Confirm</button>
    </div>



    <!-- this.inputFieldSetClasses = {
        "form-group": true,
        "has-success": false,
        "has-danger": false
      }
      this.inputNumberClasses = {
        "form-control": true,
        "form-control-success": false,
        "form-control-danger": false
      } -->

  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>