div.container {
    width: 100%;
    height: auto;
    background-image: url("../../../assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

div.row {
    width: 100%;
    height: auto;
}

div.block {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
}

.note {
    font-family: 'Baloo';
    color: #4B7012;
}

.btn-xxl {
    width: 100%;
    height: auto;
    font-size: 2em;
    margin-bottom: 20px;
}