<div class="row justify-content-center parent-div">
  <div class="col-md-6">

    <div class="row">
      <h1>Cooling section</h1>
    </div>
    <hr/>
    <!-- Question 1: Which type of cooling system are you using now?-->
    <div class="row">
      <fieldset class="form-group">
        <label class="question">Which type of cooling system do you normally use?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="portable fan" 
                  [(ngModel)]="type"> Portable fan
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="split system air conditioner" 
                  [(ngModel)]="type"> Split system air conditioner
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="ducted refrigerative air conditioner" 
                  [(ngModel)]="type"> Ducted refrigerative air conditioner
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="ducted evaporative cooling" 
                   [(ngModel)]="type"> Ducted evaporative cooling
          </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 2 Do you know the brand and model of your air-conditioner? -->
    <div class="row" *ngIf="showQuestion2()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">Do you know the brand and model of your air-conditioner?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question2" value="yes" [(ngModel)]="knowBrand"> Yes
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question2" value="no" [(ngModel)]="knowBrand"> No
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 3 Select the brand and model of your air-conditioner. -->
    <div class="row" *ngIf="showQuestion3()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">Select the brand and model of your air-conditioner.</label>
        <div class="row">
          <div class="col-md-6">
            <fieldset class="form-group">
              <label>Select brand</label>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="brand" (change)="onBrandSelected($event)">
                  <option *ngFor="let b of brandList">{{b}}</option>
                </select>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset class="form-group">
              <label>Select model</label>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="model" (change)="onModelSelected($event)"> 
                  <option *ngFor="let m of modelList">{{m}}</option>
                </select>
              </div>
            </fieldset>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Question 4 What is the size of the room? -->
    <div class="row" *ngIf="showQuestion4()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">What is the size of the room?</label>
        <div class="radio">
          <label>
                  <input type="radio" name="question4" value="small" [(ngModel)]="spaceSize"> About 12m<sup>2</sup>
              </label>
        </div>
        <div class="radio">
          <label>
                  <input type="radio" name="question4" value="medium" [(ngModel)]="spaceSize"> About 30m<sup>2</sup>
              </label>
        </div>
        <div class="radio">
          <label>
                  <input type="radio" name="question4" value="large" [(ngModel)]="spaceSize"> About 60m<sup>2</sup>
              </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 5 What is the total area of your house? -->
    <div class="row" *ngIf="showQuestion5()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">What is the total area of your house?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question5" value="small" [(ngModel)]="spaceSize"> About 100m<sup>2</sup>
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question5" value="medium" [(ngModel)]="spaceSize"> About 160m<sup>2</sup>
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question5" value="large" [(ngModel)]="spaceSize"> About 220m<sup>2</sup>
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 6: What is the energy rating of your air conditioner?-->
    <div class="row" *ngIf="showQuestion6()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">What is the energy rating of your air conditioner?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question6" value="2" [(ngModel)]="energyRating"> 1~3 stars
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question6" value="6" [(ngModel)]="energyRating"> 4~6 stars
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 7: Your will use air-conditioner when the temperature is above -->
    <div class="row" *ngIf="showQuestion7()" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">Your will use air-conditioner when the temperature reaches</label>
        <div class="radio">
          <label>
            <input type="radio" name="question7" value="25" [(ngModel)]="temperature"> 25<sup>o</sup>C or below
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="question7" value="28" [(ngModel)]="temperature"> 28<sup>o</sup>C
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="question7" value="30" [(ngModel)]="temperature"> 30<sup>o</sup>C
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="question7" value="32" [(ngModel)]="temperature"> 32<sup>o</sup>C or above
          </label>
        </div>
      </fieldset>
    </div>

    <div class="row">
      <button class="btn btn-primary" (click)="submit()" [routerLink]="['/home']" [routerLinkActive]="['router-link-active']">Confirm</button>
    </div>



    <!-- this.inputFieldSetClasses = {
        "form-group": true,
        "has-success": false,
        "has-danger": false
      }
      this.inputNumberClasses = {
        "form-control": true,
        "form-control-success": false,
        "form-control-danger": false
      } -->

  </div>
</div>