div.container {
    width: 100%;
    height: auto;
}

div.row {
    width: 100%;
    height: auto;
}

div.main-content {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

div.paragraph {
    margin-bottom: 40px;
}

span.title {
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 50px;
}

span.subtitle {
    font-size: 1.8em;
    font-style: italic;
    padding-bottom: 50px;
}