<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 main-content">
      <div class="row">
        <span class="title">Disclaimer, Datasets Description & Privacy</span>
      </div>
      <div class="paragraph">
        <div class="row">
          <span class="subtitle">Disclaimer</span>
        </div>
        <div class="row">
          <p>GCEA (Global Chilling Electricity Assistance) accept no liability or responsibility for any loss or damage suffered
            as a result of direct or indirect use or application of any material, publication or information made accessible
            via its website.
          </p>
          <p>GCEA provide links to companies, organisations and information external to GCEA. In providing such links, GCEA
            do not accept responsibility for, or endorse the content or condition of, any linked site.</p>
          <p>GCEA reserves the right to vary the material, information or publication on this website without notice.</p>
          <p>GCEA strive to protect information you provide via its website and use reasonable endeavours to ensure the information
            you submit is not compromised. However, where industry standard security protocols and information encryption
            methods are not being used, GCEA cannot guarantee that information you submit over the internet is not subject
            to interception or attack. You should be aware of the risks when submitting information to GCEA in these cases
            and GCEA cannot take responsibility for any information compromised that you submit. We recommend that you use
            appropriate and up-to-date firewall and anti-virus software to protect your computer systems and information.</p>
        </div>
      </div>
      <div class="paragraph">
        <div class="row">
          <span class="subtitle">Datasets Description</span>
        </div>
        <div class="row">
          <p>GCEA contains information on appliances. Information collected includes energy
            rating data for household appliances, Australia electricity and heat statics, Greenhouse and Energy Minimum Standard,
            greenhouse and energy information for designated generation facilities.
          </p>
          <p class="dataset">
            Commonwealth of Australia. (2016). Air conditioners [CSV]. Retrieved from http://reg.energyrating.gov.au/comparator
          </p>
          <p class="dataset">
            Commonwealth of Australia. (2016). Clothes dryers [CSV]. Retrieved from http://reg.energyrating.gov.au/comparator/product_types/35/search/
          </p>
          <p class="dataset">
            Commonwealth of Australia. (2016). Clothes washers [CSV]. Retrieved from http://reg.energyrating.gov.au/comparator/product_types/49/search/
          </p>
          <p class="dataset">Commonwealth of Australia. (2016). Refrigerator [CSV]. Retrieved from http://reg.energyrating.gov.au/comparator/product_types/28/search/
          </p>
          <p class="dataset">
            Commonwealth of Australia. (2016). Televisions [CSV]. Retrieved from http://reg.energyrating.gov.au/comparator/product_types/32/search/
          </p>
          <p class="dataset">
            The Life Cycle Assessment (LCA) Harmonization project. Retrieved from: http://en.openei.org/apps/LCA/
          </p>
          <p class="dataset">
            Australia average electricity consumption. Retrieved from: http://www.aemc.gov.au/getattachment/be91ba47-45df-48ee-9dde-e67d68d2e4d4/2016-Electricity-Price-Trends-Report.aspx
          </p>
          <p class="dataset">
            World average electricity consumption. Retrieved from: http://shrinkthatfootprint.com/average-household-electricity-consumption
          </p>
        </div>
      </div>
      <div class="paragraph">
        <div class="row">
          <span class="subtitle">Web Privacy Statement</span>
        </div>
        <div class="row">
          <p>GCEA are committed to protecting and maintaining the privacy of personal information that you submit. This statement
            and details following below advise visitors to GCEA ‘s website of the information collected when they visit,
            how this information may be used and whether or not it may be disclosed.
          </p>
          <p>GCEA is bound by the Information Privacy Act 2014 (ACT) (the Act). GCEA complies with the obligation of the Act,
            including the Territory Privacy Principles outlined in the Act.</p>
          <p>External sites that are linked to or from the GCEA websites are generally not under our control or responsibility
            and you are advised to review their privacy statement.</p>
        </div>
      </div>
    </div>
  </div>
</div>