p {
    line-height: 1.75; 
}
  
a {
    color: #fed136; 
}
a.active, a:active, a:focus, a:hover {
    color: #FEC400;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; 
}

.btn-xl {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: white;
    border-color: #fed136;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
    .btn-xl.focus, .btn-xl:focus {
      color: white;
      border-color: #b48b01;
      background-color: #fec503; }
    .btn-xl:hover {
      color: white;
      border-color: #f6bf01;
      background-color: #fec503; }
    .btn-xl.active, .btn-xl:active,
    .open > .btn-xl.dropdown-toggle {
      color: white;
      border-color: #f6bf01;
      background-color: #fec503; }
      .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
      .open > .btn-xl.dropdown-toggle.focus,
      .open > .btn-xl.dropdown-toggle:focus,
      .open > .btn-xl.dropdown-toggle:hover {
        color: white;
        border-color: #b48b01;
        background-color: #dcab01; }
    .btn-xl.active, .btn-xl:active,
    .open > .btn-xl.dropdown-toggle {
      background-image: none; }
    .btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
    fieldset[disabled] .btn-xl.focus,
    fieldset[disabled] .btn-xl:focus,
    fieldset[disabled] .btn-xl:hover {
      border-color: #fed136;
      background-color: #fed136; }
    .btn-xl .badge {
      color: #fed136;
      background-color: white; }