<!-- Footer -->
<footer class="text-center footer">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Team</h3>
                    <p>Global Chilling</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Why GCEA?</h3>
                    <p>GCEA will provide personalised analysis on your electricity consumption as well as data visulisation
                        to let you better understand your bills and follow our recommondations to reduce your bill</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Contact Us</h3>
                    <p>Email to:
                        <a href="mailto:gcelectricityassistance@gmail.com" target="_blank">gcelectricityassistance@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2017 Global Chilling: GC Electricity Assistance, All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>