<div class="row justify-content-center parent-div">
  <div class="col-md-6">

    <div class="row">
      <h1>Lighting section</h1>
    </div>
    <hr/>
    <!-- Question 1: Are you using any HALOGEN lights in your home?-->
    <div class="row">
      <fieldset class="form-group">
        <label class="question">Are you using any halogen lights at your home?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="Yes" [(ngModel)]="halogenLight"> Yes
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question1" value="No" [(ngModel)]="halogenLight"> No
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 2 Approximately how many halogen lights are you using frequently in your home?-->
    <div class="row" *ngIf="halogenLight == 'Yes'" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">Approximately how many halogen lights do you use frequently at your home?</label>
        <input class="form-control" type="number" placeholder="number of halogen lights" maxlength="2" [(ngModel)]="numberOfLights"
        />
      </fieldset>
    </div>

    <!-- Question 3 How bright are those halogen lights? -->
    <div class="row" *ngIf="halogenLight == 'Yes'" [@questionShowUp]>
      <fieldset class="form-group">
        <label class="question">How bright are those halogen lights?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="0.1" [(ngModel)]="powerOfLights"> Very bright
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="0.06" [(ngModel)]="powerOfLights"> Average bright
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question3" value="0.04" [(ngModel)]="powerOfLights"> Slightly dim
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 4: Do you have habit of leaving the lights on in the room that you are not using?-->
    <div class="row">
      <fieldset class="form-group">
        <label class="question">Do you have habit of leaving the lights on in the room that you are not using?</label>
        <div class="radio">
          <label>
                <input type="radio" name="question4" value="0.9" [(ngModel)]="switchOff"> Yes
            </label>
        </div>
        <div class="radio">
          <label>
                <input type="radio" name="question4" value="1.0" [(ngModel)]="switchOff"> No
            </label>
        </div>
      </fieldset>
    </div>

    <!-- Question 5: Do you leave the lights on when you are sleeping?-->
    <div class="row">
      <fieldset class="form-group">
        <label class="question">Do you leave the lights on when you are sleeping?</label>
        <div class="radio">
          <label>
              <input type="radio" name="question5" value="yes" [(ngModel)]="sleepTime"> Yes
            </label>
        </div>
        <div class="radio">
          <label>
              <input type="radio" name="question5" value="no" [(ngModel)]="sleepTime"> No
            </label>
        </div>
      </fieldset>
    </div>

    <div class="row">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="submit()" [routerLink]="['/questionnaire/laundry']" [routerLinkActive]="['router-link-active']">Previous section</button>
        <button class="btn btn-warning" (click)="submit()" [routerLink]="['/home']" [routerLinkActive]="['router-link-active']">Back to home page</button>
        <button class="btn btn-primary" (click)="submit()" [routerLink]="['/questionnaire/cooling']" [routerLinkActive]="['router-link-active']">Next section</button>
      </div>
    </div>



    <!-- this.inputFieldSetClasses = {
        "form-group": true,
        "has-success": false,
        "has-danger": false
      }
      this.inputNumberClasses = {
        "form-control": true,
        "form-control-success": false,
        "form-control-danger": false
      } -->

  </div>
</div>